# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
.env
.env.*

# Secrets (à ne jamais commiter)
*.pem
*.key
secrets.toml
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.swp

# Poetry
poetry.lock

# OS
.DS_Store
Thumbs.db
